main {
    background-color: #bdb9b9;
}

.main_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px;
}

.main_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.23);
    margin-bottom: 50px;
}

.card_icon {
    font-size: 80px;
    color: black;
    text-align: center;
    padding: 20px 0;
}

.card_icon i {
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.2));
}

.card_icon i:hover {
    color: #F0F5F9;
    cursor: pointer;
}

.card_body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    padding: 16px 0;
}

.card_look,
.card_edit {
    cursor: pointer;
}

.card_look:hover,
.card_edit:hover {
    color: #F0F5F9;
}

.main_community {
    display: grid;
    gap: 20px;
    grid-template-columns: 700px auto;
    padding: 16px;
}





















