table {
    background-color: #F0F5F9;
    min-width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.23);
    text-align: center;
    border-collapse: collapse;
    border: 0 solid;
}


th, td {
    padding: 16px;
    border-bottom: 1px solid grey;
}




